@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}
.cart{
    width: 75%;
    box-shadow: 0 0 5px 5px #30cc54;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;
}
.cartRow{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.cartCol{
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cartCounter{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}
.cartBGCol{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.cartFooter{
    display: flex;
    justify-content: space-evenly;
    width: 75%;
    height: 120px;
    background-color: lightgoldenrodyellow;
}
.cartFooterTwo{
    width: 75%;
}
.cartTitle{
    color: #254F4C;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.cartTitleTwo{
    color: darkblue;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.cartFinalPrice{
    color: blue;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 24px;
}
.productImg{
    width: 130px;
    height: 100px;
    border-radius: 30px;
}
.productText{
    color: darkblue;
}
.productDelete{
    font-size: 22px;
    color: salmon;
    margin: 30px;
}
.productDelete:hover{
    cursor: pointer;
}
.lessSpacing{
    margin: 0;
}
.line{
    color: blueviolet;
    font-size: 30px;
}
.discount{
    color: green;
}
.discountInput{
    padding: 5px 13px;
    background-color: lightblue;
    border-radius: 5px;
    border-color: mediumpurple;
    font-style: oblique;
    width: 200px;
}
.discountBtn{
    padding: 5px;
    margin-left: 15px;
    border-radius: 3px;
    border-color: darkgreen;
    background-color: limegreen;
    color: darkslategrey;
    font-weight: bold;
    cursor: pointer;
}
.discountCalc{
    color: darkgreen;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.discountTrigger{
    padding: 8px;
    border-radius: 5px;
    border-color: lightslategrey;
    background-color: lightblue;
    color: darkblue;
    font-weight: bold;
    cursor: pointer;
}
