.body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cart{
    width: 75%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}